* {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 700px) {
    * {
        font-size: 5.5vw;
    }
}

body, textarea {
    /* font-family: "Ubuntu Mono", serif; */
}

body {
    /* padding: 0.2em; */
}

.history {
    margin-bottom: 4.5em;
}

.history-item {
    /* margin-bottom: 0.3em; */
    padding-bottom: 0.3em;
    padding-inline: 0.5em;
    /* display: grid; */
    /* grid-template-columns: auto 1em 9.5em; */
    /* grid-template-columns: auto 1em; */
}

.history-item:nth-child(even) {
    background-color: aliceblue;
}

.expression {
    color: blue;
    /* display: inline-block; */
    /* width: calc(100% - 9em); */
    text-align: right;
    /* padding-right: 2em; */
}

.result {
    /* display: block; */
    /* width: 7em; */
    /* text-align: left; */
    text-align: right;
    margin-top: auto;
    cursor: pointer;
    /* grid-column: span 2; */
    height: 1em;
}

.result span:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.history-item.selected {
    background-color: aquamarine;
}

.the-calc {
    position: fixed;
    bottom: 0;
    /* width: calc(100% - 0.5em); */
    width: 100%;
    background-color: white;
    /* padding-bottom: 0.5em; */
    padding: 0.5em;
}

.input {
    width: 100%;
    /* font-size: 3em; */
    /* font-style: italic; */
    text-align: right;
    padding: 0.2em 0.5em;
}

#output {
    /* font-size: 3em; */
    text-align: right;
    padding-inline: 0.5em;
    height: 1em;
    cursor: pointer;
}

.keys {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}

.keys p {
    /* border: 1px solid; */
    margin: 2px;
    padding-block: 0.2em;
    background-color: aliceblue;
    text-align: center;
    font-size: 1.3rem;
}

@media screen and (min-width: 1200px) {
    .history-item {
        /* padding-inline: 0.5em; */
        display: grid;
        grid-template-columns: auto 9.5em;
    }

    .expression::after {
        content: ' =';
    }

    .result {
        padding-left: 0.5em;
        text-align: left;
        /* grid-column: span 1; */
    }
}
