* {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    * {
        font-size: 4vw;
    }
}

body, textarea {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Ubuntu Mono", serif;
}

body {
    padding: 0.2em;
}

.history {
    margin-bottom: 4em;
}

.histoty-item {
    padding-inline: 0.5em;
    /* display: flex; */
    display: grid;
    grid-template-columns: auto 1em 9.5em;
    /* background-color: aqua; */
    /* text-align: right; */
}

.histoty-item:nth-child(even) {
    background-color: aliceblue;
}

.expression {
    /* display: inline-block; */
    /* width: calc(100% - 9em); */
    text-align: right;
    padding-right: 0.5em;
}

.result {
    /* display: block; */
    /* width: 7em; */
    text-align: left;
    margin-top: auto;
    cursor: pointer;
}

.result:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* .result::before {
    content: '= ';
    text-decoration: none;
} */
/* 
.result:hover::before {
    content: '= ';
    text-decoration: none;
} */

.histoty-item.selected {
    background-color: aquamarine;
}

.the-calc {
    position: fixed;
    bottom: 0;
    width: calc(100% - 0.5em);
    background-color: white;
    padding-bottom: 0.5em;
}

.input {
    width: 100%;
    /* font-size: 3em; */
    text-align: right;
    padding: 0.2em 0.5em;
}

#output {
    /* font-size: 3em; */
    text-align: right;
    padding-inline: 0.5em;
    height: 1em;
    cursor: pointer;
}
